<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.juventudesonica.pt">Juventude Sonica</a>
      by <a href="https://www.facebook.com/gerson.brito.39">Gerson Brito</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>